* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #171bb5;
}


/* HEADER */

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
    background-color: white;
}


.logo a {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #171bb5;

    border-radius: 50%;

    color: white;

    text-decoration: none;

    font-size: 12px;

    font-weight: bold;
}


nav {
    display: flex;
    gap: 30px;
    align-items: center;
}


nav a {
    color: #111111;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
}


nav a:hover {
    color: #171bb5;
}


/* INDEX */

.portada {
    min-height: 500px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: #171bb5;

    color: white;

    padding: 40px;
}


.portada h1 {
    font-size: 55px;
    margin-bottom: 10px;
}


.portada p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 35px;
}


.portada .boton-principal {
    background-color: #c6ff20;

    color: #171bb5;

    text-decoration: none;

    padding: 12px 45px;

    border-radius: 5px;

    font-size: 12px;

    font-weight: bold;
}


/* PRESENTACIÓN */

.presentacion {
    text-align: center;

    padding-top: 35px;

    padding-bottom: 25px;
}


.presentacion h1 {
    font-size: 42px;

    font-weight: 800;

    letter-spacing: -1px;

    margin-bottom: 8px;
}


.presentacion p {
    font-size: 13px;

    font-weight: bold;

    color: #171bb5;
}


/* FOTOS */

.fotos {
    width: 100%;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    height: 220px;
}


.fotos img {
    width: 100%;

    height: 220px;

    object-fit: cover;
}


/* BOTÓN */

.boton-principal {
    text-align: center;

    padding: 25px 0 45px;
}


.boton-principal a {
    display: inline-block;

    background-color: #c6ff20;

    color: #171bb5;

    text-decoration: none;

    font-size: 12px;

    font-weight: bold;

    padding: 12px 55px;

    border-radius: 5px;
}


.boton-principal a:hover {
    background-color: #b5ed00;
}


/* CÓMO USAR */

.como-usar {
    width: 82%;

    margin: 0 auto;

    padding: 40px;

    background-color: #171bb5;

    border-radius: 8px;

    color: white;
}


.como-usar h2 {
    font-size: 28px;

    line-height: 1.05;

    margin-bottom: 30px;

    font-weight: bold;
}


/* TARJETAS */

.tarjetas {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    margin-bottom: 30px;
}


.tarjeta {
    background-color: white;

    border-radius: 6px;

    padding: 18px;

    color: #171bb5;
}


.tarjeta h3 {
    font-size: 14px;

    line-height: 1.15;

    margin-bottom: 12px;
}


.tarjeta img {
    width: 100%;

    height: 130px;

    object-fit: cover;

    border-radius: 4px;
}


/* DESCRIPCIÓN */

.descripcion {
    text-align: center;

    font-size: 13px;

    line-height: 1.5;

    max-width: 600px;

    margin: 0 auto 20px;
}


/* BOTÓN SECCIONES */

.boton-secciones {
    display: block;

    width: fit-content;

    margin: 0 auto;

    padding: 9px 30px;

    background-color: #c6ff20;

    color: #171bb5;

    border-radius: 20px;

    text-decoration: none;

    font-size: 11px;

    font-weight: bold;
}


.boton-secciones:hover {
    background-color: #b5ed00;
}


/* SIGUIENTE */

.siguiente {
    text-align: center;

    padding: 90px 20px;
}


.siguiente h2 {
    font-size: 30px;

    margin-bottom: 15px;
}


.siguiente p {
    color: #555555;

    font-size: 15px;
}


/* FOOTER */

footer {
    background-color: #171bb5;

    color: white;

    padding: 45px 8%;

    display: grid;

    grid-template-columns: 2fr 1fr 1fr;

    gap: 40px;
}


footer strong {
    font-size: 18px;
}


footer p {
    font-size: 12px;

    margin-top: 8px;
}


footer a {
    display: block;

    color: white;

    text-decoration: none;

    font-size: 12px;

    margin-bottom: 8px;
}


footer a:hover {
    color: #c6ff20;
}


/* CELULAR */

@media (max-width: 700px) {

    header {
        padding: 0 20px;
    }


    nav {
        gap: 12px;
    }


    nav a {
        font-size: 8px;
    }


    .presentacion h1 {
        font-size: 30px;
    }


    .fotos {
        grid-template-columns: repeat(2, 1fr);

        height: auto;
    }


    .fotos img {
        height: 150px;
    }


    .como-usar {
        width: 90%;

        padding: 25px;
    }


    .tarjetas {
        grid-template-columns: 1fr;
    }


    .tarjeta img {
        height: 150px;
    }


    .siguiente h2 {
        font-size: 23px;
    }


    footer {
        grid-template-columns: 1fr;

        text-align: center;
    }

}
/* =========================
   LO MÁS BUSCADO
========================= */

.mas-buscado {
    padding: 45px 6% 20px;
    background-color: white;
}

.mas-buscado h2 {
    color: #171bb5;
    font-size: 24px;
    margin-bottom: 20px;
}


.articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.articulo {
    background-color: #c6ff20;
    border-radius: 6px;
    padding: 12px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.articulo h3 {
    color: #171bb5;
    font-size: 11px;
    line-height: 1.05;
}


.articulo a {
    background-color: #171bb5;
    color: white;
    text-decoration: none;

    width: fit-content;

    padding: 6px 18px;

    border-radius: 15px;

    font-size: 8px;
    font-weight: bold;
}



/* =========================
   RECUPERAR
========================= */

.recuperar {
    padding: 20px 6% 35px;
    background-color: white;
}


.recuperar h2 {
    color: #171bb5;
    font-size: 22px;
    margin-bottom: 20px;
}


.recuperar img {
    width: 100%;
    height: 280px;

    object-fit: cover;

    border-radius: 6px;

    display: block;
}


.recuperar p {
    color: #171bb5;

    font-size: 8px;

    font-weight: bold;

    text-align: center;

    margin: 8px auto 0;

    max-width: 600px;
}



/* =========================
   ¿LISTA PARA CUIDAR?
========================= */

.cuidar {
    padding: 20px 6%;
}


.cuidar a {
    display: block;

    background-color: #171bb5;

    color: white;

    text-decoration: none;

    text-align: center;

    padding: 16px 10px;

    border-radius: 5px;

    font-size: 12px;

    font-weight: bold;
}



/* =========================
   EXPLORÁ HOCKEY LAB
========================= */

.explora {
    margin: 0 6% 30px;

    display: grid;

    grid-template-columns: 35% 65%;

    background-color: #c6ff20;

    border-radius: 6px;

    overflow: hidden;

    min-height: 125px;
}


.explora-imagen img {
    width: 100%;
    height: 100%;

    min-height: 125px;

    object-fit: cover;
}


.explora-texto {
    position: relative;

    padding: 12px;
}


.explora-texto h2 {
    color: #171bb5;

    font-size: 24px;

    line-height: 0.95;

    margin: 0;
}


.explora-texto a {
    position: absolute;

    right: 12px;

    bottom: 10px;

    background-color: #171bb5;

    color: white;

    text-decoration: none;

    width: 55px;

    height: 25px;

    border-radius: 5px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 22px;
}
/* =========================
   PÁGINA SECCIONES
========================= */

.titulo-secciones {
    text-align: center;
    padding: 55px 20px 35px;
}

.titulo-secciones h1 {
    color: #171bb5;
    font-size: 40px;
    margin-bottom: 12px;
}

.titulo-secciones p {
    color: #555555;
    font-size: 14px;
    line-height: 1.5;
}


/* LISTADO */

.lista-secciones {
    width: 82%;
    max-width: 900px;
    margin: 0 auto 70px;
}


/* CADA SECCIÓN */

.item-seccion {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #171bb5;
    color: white;

    padding: 25px 30px;
    margin-bottom: 15px;

    border-radius: 7px;
}

.item-seccion h2 {
    font-size: 20px;
    margin-bottom: 7px;
}

.item-seccion p {
    font-size: 12px;
    margin: 0;
    color: white;
}


/* FLECHA */

.item-seccion a {
    width: 45px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #c6ff20;

    color: #171bb5;

    text-decoration: none;

    border-radius: 5px;

    font-size: 24px;
    font-weight: bold;
}

.item-seccion a:hover {
    background-color: white;
}


/* BLOQUE FINAL */

.secciones-final {
    background-color: #171bb5;

    color: white;

    text-align: center;

    padding: 55px 20px;
}

.secciones-final h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.secciones-final p {
    font-size: 13px;
    margin-bottom: 25px;
}

.secciones-final a {
    display: inline-block;

    background-color: #c6ff20;

    color: #171bb5;

    text-decoration: none;

    padding: 10px 28px;

    border-radius: 20px;

    font-size: 11px;

    font-weight: bold;
}


/* CELULAR */

@media (max-width: 700px) {

    .titulo-secciones h1 {
        font-size: 30px;
    }

    .lista-secciones {
        width: 90%;
    }

    .item-seccion {
        padding: 20px;
    }

    .item-seccion h2 {
        font-size: 16px;
    }

}
/* SOBRE NOSOTROS */

.sobre-titulo {
    text-align: center;
    padding: 60px 20px 40px;
}

.sobre-titulo h1 {
    color: #171bb5;
    font-size: 40px;
    margin-bottom: 15px;
}

.sobre-titulo p {
    color: #555555;
    font-size: 14px;
    line-height: 1.5;
}


.sobre-intro {
    width: 82%;
    max-width: 1000px;
    margin: 0 auto 60px;
    display: flex;
    gap: 40px;
    align-items: stretch;
}

.sobre-texto {
    width: 60%;
}

.sobre-texto h2 {
    color: #171bb5;
    font-size: 25px;
    margin-bottom: 18px;
}

.sobre-texto p {
    color: #444444;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.sobre-frase {
    width: 40%;
    background-color: #171bb5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    border-radius: 7px;
}

.sobre-frase strong {
    font-size: 25px;
    line-height: 1.2;
}


.sobre-problema {
    background-color: #171bb5;
    color: white;
    padding: 60px 15%;
    margin-bottom: 60px;
}

.sobre-problema h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.sobre-problema p {
    font-size: 14px;
    line-height: 1.7;
    max-width: 850px;
    margin-bottom: 15px;
}


.sobre-objetivo {
    width: 82%;
    max-width: 1000px;
    margin: 0 auto 70px;
    display: flex;
    gap: 30px;
}

.sobre-objetivo > div {
    width: 50%;
    border-top: 4px solid #c6ff20;
    padding-top: 20px;
}

.sobre-objetivo h2 {
    color: #171bb5;
    font-size: 20px;
    margin-bottom: 12px;
}

.sobre-objetivo p {
    color: #444444;
    font-size: 14px;
    line-height: 1.7;
}


.sobre-final {
    background-color: #171bb5;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.sobre-final h2 {
    font-size: 27px;
    margin-bottom: 15px;
}

.sobre-final p {
    font-size: 14px;
    margin-bottom: 25px;
}

.sobre-final a {
    display: inline-block;
    background-color: #c6ff20;
    color: #171bb5;
    text-decoration: none;
    padding: 11px 28px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
}


@media (max-width: 700px) {

    .sobre-titulo h1 {
        font-size: 30px;
    }

    .sobre-intro {
        width: 90%;
        display: block;
    }

    .sobre-texto,
    .sobre-frase {
        width: 100%;
    }

    .sobre-frase {
        margin-top: 25px;
    }

    .sobre-problema {
        padding: 45px 8%;
    }

    .sobre-objetivo {
        width: 90%;
        display: block;
    }

    .sobre-objetivo > div {
        width: 100%;
        margin-bottom: 35px;
    }

}
/* CONTACTO */

.contacto-titulo {
    text-align: center;
    padding: 60px 20px 40px;
}

.contacto-titulo h1 {
    color: #171bb5;
    font-size: 40px;
    margin-bottom: 15px;
}

.contacto-titulo p {
    color: #555555;
    font-size: 14px;
    line-height: 1.5;
}


.contacto-contenido {
    width: 82%;
    max-width: 1000px;
    margin: 0 auto 70px;
    display: flex;
    gap: 50px;
}


.contacto-info {
    width: 45%;
}

.contacto-info h2,
.formulario h2 {
    color: #171bb5;
    font-size: 24px;
    margin-bottom: 18px;
}

.contacto-info > p {
    color: #444444;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 15px;
}


.datos-contacto {
    margin-top: 30px;
    border-left: 4px solid #c6ff20;
    padding-left: 20px;
}

.datos-contacto p {
    color: #444444;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 18px;
}

.datos-contacto strong {
    color: #171bb5;
    font-size: 11px;
}


.formulario {
    width: 55%;
    background-color: #171bb5;
    padding: 35px;
    border-radius: 7px;
}

.formulario h2 {
    color: white;
}


.formulario form {
    display: flex;
    flex-direction: column;
}


.formulario label {
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 12px;
}


.formulario input,
.formulario textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 12px;
    font-family: inherit;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
}


.formulario textarea {
    resize: vertical;
}


.formulario button {
    margin-top: 20px;
    width: fit-content;
    border: none;
    background-color: #c6ff20;
    color: #171bb5;
    padding: 11px 25px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}


.formulario button:hover {
    background-color: white;
}


.contacto-final {
    background-color: #171bb5;
    color: white;
    text-align: center;
    padding: 55px 20px;
}

.contacto-final h2 {
    font-size: 25px;
    margin-bottom: 12px;
}

.contacto-final p {
    font-size: 13px;
}


@media (max-width: 700px) {

    .contacto-titulo h1 {
        font-size: 30px;
    }

    .contacto-contenido {
        width: 90%;
        display: block;
    }

    .contacto-info,
    .formulario {
        width: 100%;
        box-sizing: border-box;
    }

    .formulario {
        margin-top: 35px;
    }

}